<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COW - Detalle de empresas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" />
    <link rel="stylesheet" href="../assets/css/detalles.css">
</head>
<body>
    <!-- INICIA NAV -->
    <nav class="container-fluid">
        <div class="row nav-wrapper negro-fondo pddng-top-nav">
            <a href="#" class="col l1 brand-logo">
                <img src="../assets/img/cow_logo.gif" alt="cow logo" class="logo-nav">
            </a>
            <div class="col l4 offset-l7">
                <ul>
                    <a href="#">
                        <li class="margin-right-li">LISTA DE EMPRESAS</li>
                    </a>
                        <li class="margin-right-li">.</li>
                    <a href="#">
                        <li>AGREGAR CLIENTES</li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FINALIZA NAV -->
    
    <!-- Inicia estructura página -->
    <section class="container-fluid">
        <div class="row pddng-top-sections">
            <div class="col l4 offset-l4 center-align">
                <img src="../assets/img/labo.png" alt="laboratoria logo" class="img-empresas">
            </div>
        </div>
        <div class="row pddng-top-sections">
            <div class="col l5 right-align">
                <p> Nombre: Laboratoria </p>
                <p> Razón social: Laboratoria Coding A.C </p>
                <p> SKU: 002 </p>
                <p> Piso: 02 </p>
                <p> Contacto principal: Gabriela Rocha </p>
                <p> Equipo: 10 personas <span><a href="#" class="span-a-color">ver equipo completo</a></span></p>
                <p> Precio de renta: 20,000 pesos. </p>
                <p> Fecha de inicio de pago: Febrero, 2017. </p>
                <p> Modalidad de pago: mensual. </p>
            </div>
            <div class="col l7">
                <div class="row">
                    <div class="col l2 offset-l5">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                </div>
                <div class="row">
                    <div class="col l2 offset-l2">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                    <div class="col l2">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                    <div class="col l2">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                    <div class="col l2">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                </div>
                <div class="row">
                    <div class="col l2 offset-l2">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                    <div class="col l2">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                    <div class="col l2">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                    <div class="col l2">
                        <img src="../assets/img/user.png" alt="user" class="img-user-team">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Finaliza estructura página -->
    
</body>
</html>