<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="../assets/css/forms-client.css">
	  <link rel="stylesheet" type="text/css" href="../assets/css/detalles.css">
	  <link href="https://fonts.googleapis.com/css?family=Archivo:400,700" rel="stylesheet">
	  <title>Registro Empresa</title>
	</head>
	<body>

            <!-- INICIA NAV -->
        <div class="navbar-fixed">
            <nav class="container-fluid">
                <div class="row nav-wrapper negro-fondo pddng-top-nav">
                    <a href="#" class="col s1 m1 l1 brand-logo">
                        <img src="../assets/img/cow_logo.gif" alt="cow logo" class="logo-nav">
                    </a>
                    <div class="col s8 m8 l4 offset-m3 offset-l7">
                        <ul>
                            <a href="#">
                                <li class="margin-right-li">LISTA DE EMPRESAS</li>
                            </a>
                                <li class="margin-right-li">.</li>
                            <a href="#">
                                <li>AGREGAR CLIENTES</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- FINALIZA NAV -->


		<div class="container-fluid">
		    <div class="row">
		    	<div class="col m2">
		    		<a href="index.html"><img class="logo" src="assets/img/cow_logo.gif"></a>
		    	</div>
		    </div>
		</div>
		<div class="container-fluid">
			<div class="container">
			    <div class="row center-align">
			        <h3>DATOS DE LA <span class="span-rojos-titulos">EMPRESA</span></h3>
			    </div>
				<div class="row">
				    <form  id="crear-empresa" class="col m6 s6">
				      <div class="row">
				        <div class="input-field col m12 s12">
				          <input id="name-business" type="text" class="validate">
				          <label for="name-business">Nombre comercial ó razón social</label>
				        </div>
				      </div>
				      <div class="row">
				      	<div class="input-field col m12 s12">
				          <input id="sku_code" type="text" class="validate">
				          <label for="sku_code">SKU</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col m12 s12">
				          <input id="initial-payment" type="text" class="validate">
				          <label for="initial-payment">Pago Inicial</label>
				        </div>
				      </div>
				       <div class="row">
								 <div class="input-field col s12">
							     <select id="modality">
							       <option value="" disabled selected>Choose your option</option>
							       <option value="1">Anual</option>
							       <option value="2">Mensual</option>
							       <option value="3">Quincenal</option>
										 <option value="4">Semanal</option>
										 <option value="5" disabled>Por día</option>
							     </select>
							   </div>
				      </div>
				       <div class="row">
				        <div class="input-field col m12 s12">
				          <input id="floor" type="text" class="validate">
				          <label for="floor">Piso</label>
				        </div>
				      </div>
							<div class=" row valign-wrapper">
								<div class="col m6 s6 img-form">
									<output id="list-logo" class="thumb"><img class="thumb" src="http://via.placeholder.com/350x350" alt=""></output>
									<br />
									<input type="file" id="files-logo" name="files[]" class="fileUpload"/>
								</div>
							</div>
							<div class="row center-align">
								<h3>CONTACTO <span class="span-rojos-titulos">PRINCIPAL</span></h3>
							</div>
							<div class="row">
								<div class="input-field col m12 s12">
									<input id="name_contact" type="text" class="validate">
									<label for="name_contact">Nombre</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col m12 s12">
									<input id="email_contact" type="email" class="validate">
									<label for="email_contact">Correo</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col m12 s12">
									<input id="telephone_contact" type="tel" class="validate">
									<label for="telephone_contact">Número movil</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col m12 s12">
									<input id="name_contact_emergency" type="text" class="validate">
									<label for="name_contact_emergency">Nombre contacto de emergencia</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col m12 s12">
									<input id="telephone_contact_emergency" type="tel" class="validate">
									<label for="telephone_contact_emergency">Nro. telefono contacto emergencia</label>
								</div>
							</div>
							<div class="row">
								<div class="valign-wrapper">
									<div class="col m6 s6 img-form marging-sctn-empresa">
										<output id="list-contact" class="thumb"><img class="thumb" src="http://via.placeholder.com/350x350" alt=""></output>
										<br />
										<input type="file" id="files-contact" name="files[]" />
									</div>
								<button type="submit" name="button">crear cliente</button>
								</div>
							</div>
							<div class="row center">
								<a class="waves-effect waves-light btn">Crear Cliente</a>
							</div>
			</form>
			</div>
		</div>
		</div>


	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
		<script type="text/javascript" src="../assets/js/form-cliente.js">

		</script>
	</body>
</html>
